body{
	margin:0;
	height:100%;
	width:100%;

}
header{
    position:absolute;
    top:1%;
    width:100%;

}
nav{
	height:150px;
	width:100%;
	padding-bottom:10px;
    color:white;
	}
	.logo{
		height:80px;
		width:100%;
	}
	.nav-list{
		height:50px;
		width:100%;
        background: rgba(0, 0, 0, 0.4);
        line-height: 50px;
        

	}
    


.main-banner{
	height:600px;
	width:1200px;
	
	
}
.logo-image{
	text-align:center;
	font-size:30px;
	font-family: 'Quicksand', sans-serif;
}
.list li{

	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
    display:inline;
    margin-right:100px;
}


.list a{

	text-decoration-line:none;
	color:white;
	transition:2s;

}
.list a:hover{
	background:grey;
	transition:1s;
	padding:15px;
	border-radius:50%;
	background:white;
	color:black;
	font-weight: bold;
}
.list ul{
	list-style-type: none;
}
.nav-list{
	text-align:center;
}
.main-video video{
	height:auto;
	width:100%;
	margin-bottom:0;
	
}
.home-Wrapper{
	width:100%;
	margin:0 auto;
}

.addBtn-container {
   position:absolute;
    bottom:0;
    left:43%;
    background: rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
    width: 150px;
    height:30px;
    padding: 20px;
    border-radius:10px 10px 10px 10px;
    transition:2s;


}
.addBtn {
	font-size:25px;
	text-align:center;
	font-family: 'Quicksand', sans-serif;	
}

.addBtn-container:hover{
	transition:2s;
	background: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	font-size:30px;
	cursor:pointer;

}
.profileWrapper {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.profileContainer {
    width: 1000px;
    height: 400px;
   border:1px solid grey;
    margin: 0 auto;
    overflow: hidden;
}

.profileName {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.myImage {
    width: 450px;
    height: 350px;
    background: white;
    margin: 24px 25px 24px 25px;
    float: left;
}

.profile {
    width: 475px;
    height: 120px;
    background: white;
    margin: 24px 25px 24px 0;
    float: left;
   
}
h2{
     font-family: 'Roboto', sans-serif;
     font-size:30px;
     
}
.profile p{
	margin:0;
	padding:10px 10px 0 10px;
	 font-family: 'Roboto', sans-serif;
	  font-size:25px;
	  text-align:center;
	  font-weight: bold;
	  /*needs to be typed animation*/
}

.skills {
    width: 475px;
    height: 205px;
    background: white;
    margin: 0 25px 24px 0;
    float: left;
}

#skill {
    height: 800px;
    width: 100%;
    background: black;
    position: relative;
}

.barContainer {
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
    background: lightgrey;
}
.skillList span{
	margin-left:10px;
}

#HTML5bar,
#cssbar,
#javascriptbar,
#nodebar,
#sassbar,
#mysqlbar {
    height: 30px;
    background: tomato;
    transition: 2s;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

#HTML5bar,
#cssbar {
    width: 85%;
}

#javascriptbar {
    width: 68%;
}
#nodebar {
    width: 60%;
}
#sassbar {
    width: 15%;
}
#mysqlbar {

    width: 15%;
}
#mysqlbar:hover {
    width: 80%;
    transition: 2s;
    /*may be the click button for move all the element at one time*/
}
#sassbar:hover {
    width: 70%;
    transition: 2s;
}

.skillList {
    margin-left: 10px;
}


.myImage img {
    width: 350px;
    height: 350px;
    background: white;
    margin: 0 50px 0 50px;
    border-radius:20px 20px 20px 20px;

    float: left;
}
 
/*contact start*/
.wrapper{
    width:100%;
    height:auto;
    margin:0 auto;

}
#contact{
background: #484848;
width:100%;
overflow:hidden;
}
.contactme{
    height:200px;
    line-height: 200px;
    text-align:center;
    margin:-50px 0 0 30px;
    font-size:30px;
    font-weight: bold;
}
.contact-group{
margin-left:50px;
}
.menu, .contactinfo, .social, .info{
    width:20%;
    float:left;
    height:300px;
    font-family: 'Roboto', sans-serif;
}

#contact img{
    width:50px;
    height:50px;
    margin:0;
    margin-bottom: 10px;

}

#contact ul{
    text-decoration:none;
    list-style-type: none;
    width:80px;
    }
    #contact{
        color:white;
        font-family: 'Quicksand', sans-serif;
    }
.emailAdd, .phonnum{
   float:left;
    line-height: 50px;
    margin-right:70px;
}
.phonnum{
    margin-right:120px;
}
.menu a{
    text-decoration-line:none;
    color:white;
}
.copyright{
    clear:both;
    text-align:center;
    margin-bottom:10px;
}
.contact-group img:hover{
    transition:1s;
    transform:rotate(30deg);

}
 .contact-group img{
    transition:1s;
} 

/*contact end*/


/*project start*/
.project-wrapper{
    width:100%;
    height:auto;
    background:grey;

}
.project-container{
    width:1200px;
    height:600px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
/* .project-inner-container{
    margin:0 auto;
    background:white;
    width:1200px;
    height:600px;
    margin-top:50px;
} 
.project-display-one {
    margin:0 auto;
    width:400px;
    height:400px;
    background: grey;
}*/
  .project-container div{
    width:500px;
    height:500px;
    background:white;
    margin:0 auto;
    float:left;
    margin-left:67px;
    margin-top:50px;
    border-radius:5px 5px 5px 5px;
    
    } 

    .sperate-line{
        width:100%;
        height:100px;
        background:#2b3477;
    } 
    .project-title{
        padding-top:50px;
        text-align:center;
        color:white;
    font-family: 'Quicksand', sans-serif;
    }

/*project end*/